{% extends 'index.html' %}

{% block page_content %}
<div class="center">
	<div class="row">
		<div class="col l6 m12 s12 offset-l3">
			<div class="card" id="center-div">
				<div class="card-content">
					{% if action %}
					<h6 class="right-align header-text">Edit Task</h6>
					{% else %}
					<h6 class="right-align header-text">Add Task</h6>
					{% endif %}
					{% if form.errors %}
						{% for error in form.errors %}
					    	<p style="color: #d50000" class="news-title"><i class="ion-close-circled"></i> 
					    	 	{{ error }}
					    	</p>
			    		{% endfor %}
			    	{% endif %}
					
					{% if action %}
					<form method="post" action="{{ action }}">
					{% else %}
					<form method="post" action="/add_todo/">
					{% endif %}
					{% csrf_token %}
						<div class="input-field">
						    <label for="id_title">Title</label>
						    {{ form.title }}
						</div>
						<div class="input-field">
						    <label for="id_desc">Description</label>
						    {{ form.desc }}
						</div>
						<div class="right-align">
							<button class="btn btn-flat waves-effect waves-light green" type="submit">add</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}